:root {
	--bg-color: #fff;
	--text-color: #000;
	--border-color: rgb(75, 73, 73);
}

.dark-mode {
	--bg-color: #000;
	--text-color: #fff;
	--border-color: rgb(75, 73, 73);
}

.centre {
	display: flex;
	align-items: center;
	justify-content: center;
}
.main {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.header {
	justify-content: space-between;
	gap: 20px;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	transition: background-color 0.3s, color 0.3s;
}

.content {
	padding: 20px;
	border: 1px solid #ccc;
}

.theme-button {
	color: var(--text-color);
	background-color: var(--bg-color);
	border: none;
}

.admin-button {
	padding: 5px;
	border-radius: 15px;
	border: 2px solid var(--border-color);
	color: var(--text-color);
	background-color: var(--bg-color);
}

.button-group {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
